
{% extends "selectividad/layout.html" %}

{% block body %}
    <h2>CALCULA TU NOTA</h2>
    <form class="row g-3 body" action="{% url 'calcular' %}" method="POST">
        {% csrf_token %}
        <div class="col-md-4">
            <label class="form-label">Grado</label>
            <input type="text" autocomplete="off" placeholder="Grado" class="form-control" id="nombre_grado" value="">
        </div>
        <h5>Fase de Acceso</h5>
        <div class="col-md-4">
            <label class="form-label">Nota de Bachillerato</label>
            <input type="number" class="form-control" name="notabach" value="" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label class="form-label">Nota de Lengua y Literatura</label>
            <input type="number" class="form-control" name="notabach" value="" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label class="form-label">Nota de Inglés</label>
            <input type="number" class="form-control" name="notabach" value="" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label class="form-label">Obligatoria 1</label>
            <select class="form-select" name="universidad">
                <option value="historia">Historia de España</option>
                <option value="filosofia">Historia de la Filosofía</option>
            </select>
            <label class="form-label">Nota de Obligatoria 1</label>
            <input type="number" class="form-control" name="obl1" value="" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label class="form-label">Obligatoria 2</label>
            <select class="form-select" name="universidad">
                <option value="filosofia">Ciencias Generales</option>
                <option value="historia">Dibujo Artístico</option>
                <option value="filosofia">Latín II</option>
                <option value="filosofia">Matemáticas II</option>
                <option value="historia">Matemáticas Aplicadas a las CCSS</option>
            </select>
            <label class="form-label">Nota de Obligatoria 2</label>
            <input type="number" class="form-control" name="obl1" value="" min="0" max="10">
        </div>
    <form class="row g-3 body" action="{% url 'calcular' %}" method="POST">
        {% csrf_token %}
        <h5>Fase de Admisión</h5>
        <div class="col-md-4">
            <label class="form-label">Opcional 1</label>
            <select class="form-select" name="universidad">
                <option value="filosofia">Biología</option>
                <option value="filosofia">Ciencias Generales</option>
                <option value="historia">Dibujo Artístico</option>
                <option value="filosofia">Dibujo Técnico</option>
                <option value="filosofia">Física</option>
                <option value="filosofia">Geografía</option>
                <option value="filosofia">Geología</option>
                <option value="filosofia">Historia del Arte</option>
                <option value="filosofia">Latín II</option>
                <option value="filosofia">Matemáticas II</option>
                <option value="historia">Matemáticas Aplicadas a las CCSS</option>
                <option value="filosofia">Química</option>
            </select>
            <label class="form-label">Nota de Opcional 1</label>
            <input type="number" class="form-control" name="obl1" value="" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label class="form-label">Opcional 2</label>
            <select class="form-select" name="universidad">
                <option value="filosofia">Biología</option>
                <option value="filosofia">Ciencias Generales</option>
                <option value="historia">Dibujo Artístico</option>
                <option value="filosofia">Dibujo Técnico</option>
                <option value="filosofia">Física</option>
                <option value="filosofia">Geografía</option>
                <option value="filosofia">Geología</option>
                <option value="filosofia">Historia del Arte</option>
                <option value="filosofia">Latín II</option>
                <option value="filosofia">Matemáticas II</option>
                <option value="historia">Matemáticas Aplicadas a las CCSS</option>
                <option value="filosofia">Química</option>
            </select>
            <label class="form-label">Nota de Opcional 2</label>
            <input type="number" class="form-control" name="obl1" value="" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label class="form-label">Opcional 3</label>
            <select class="form-select" name="universidad">
                <option value="filosofia">Biología</option>
                <option value="filosofia">Ciencias Generales</option>
                <option value="historia">Dibujo Artístico</option>
                <option value="filosofia">Dibujo Técnico</option>
                <option value="filosofia">Física</option>
                <option value="filosofia">Geografía</option>
                <option value="filosofia">Geología</option>
                <option value="filosofia">Historia del Arte</option>
                <option value="filosofia">Latín II</option>
                <option value="filosofia">Matemáticas II</option>
                <option value="historia">Matemáticas Aplicadas a las CCSS</option>
                <option value="filosofia">Química</option>
            </select>
            <label class="form-label">Nota de Opcional 3</label>
            <input type="number" class="form-control" name="obl1" value="" min="0" max="10">
        </div>
        <div class="col-md-4">
            <label class="form-label">Opcional 4</label>
            <select class="form-select" name="universidad">
                <option value="filosofia">Biología</option>
                <option value="filosofia">Ciencias Generales</option>
                <option value="historia">Dibujo Artístico</option>
                <option value="filosofia">Dibujo Técnico</option>
                <option value="filosofia">Física</option>
                <option value="filosofia">Geografía</option>
                <option value="filosofia">Geología</option>
                <option value="filosofia">Historia del Arte</option>
                <option value="filosofia">Latín II</option>
                <option value="filosofia">Matemáticas II</option>
                <option value="historia">Matemáticas Aplicadas a las CCSS</option>
                <option value="filosofia">Química</option>
            </select>
            <label class="form-label">Nota de Opcional 4</label>
            <input type="number" class="form-control" name="obl1" value="" min="0" max="10">
        </div>
        <div>
        <button type="button" class="btn btn-info" onclick=calcular()>Calcular</button>
        </div>
    </form>
{% endblock %}