{% extends "selectividad/layout.html" %}

{% block body %}
    <form class="row g-3 needs-validation body" action="{% url 'notas' %}" method="POST">
        {% csrf_token %}
        <div class="col-md-4">
        <label class="form-label">Universidad</label>
        <select class="form-select" name="universidad">
            <option selected value="">Cualquiera</option>
            <option value="ALMERIA">Almería</option>
            <option value="CADIZ">Cádiz</option>
            <option value="CORDOBA">Córdoba</option>
            <option value="GRANADA">Granada</option>
            <option value="HUELVA">Huelva</option>
            <option value="JAEN">Jaén</option>
            <option value="MALAGA">Málaga</option>
            <option value="P. OLAVIDE">P. Olavide</option>
            <option value="SEVILLA">Sevilla</option>
        </select>
        </div>
        <div class="col-md-4">
            <div>
                <label for="validationCustom02" class="form-label">Grado</label>
                <input type="text" autocomplete="off" placeholder="Grado" class="form-control" id="input-box" name="grado" value="">
            </div>
            <div class="result-box">
                <ul>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        </div>
        <div class="col-md-3">
        <label for="validationCustom04" class="form-label">Año</label>
        <select class="form-select" name="año">
            <option selected value="">Cualquiera</option>
            <option value="2023">2023/2024</option>
            <option value="2022">2022/2023</option>
            <option value="2021">2021/2022</option>
            <option value="2020">2020/2021</option>
        </select>
        </div>
        <div class="col-12">
        <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Curso</th>
            <th scope="col">Universidad</th>
            <th scope="col">Petición</th>
            <th scope="col">Grado</th>
            <th scope="col">Centro</th>
            <th scope="col">Área</th>
            <th scope="col">Nota</th>
          </tr>
        </thead>
        {% for nota in notas %}
            <tbody>
            <tr>
                <th>{{nota.curso}}</th>
                <td>{{nota.universidad}}</td>
                <td>{{nota.peticion}}</td>
                <td>{{nota.grado}}</td>
                <td>{{nota.centro}}</td>
                <td>{{nota.area}}</td>
                <td>{{nota.general}}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}